<div class="page-header">
	<h3>Role</h3>
</div>

<form>
	<div ng-include="'/src/cp-app/layout/bar/fromButtons.tpl.html'"></div>
 	
	<div class="row">
		<div class="form-group col-sm-4">
			<label>Role:</label>
			<input ng-model="vm.entity.role" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" type="text" class="form-control" placeholder="Role">
		</div>
		<div class="form-group col-sm-4">
			<label>Display Name:</label>
			<input ng-model="vm.entity.displayName" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" type="text" class="form-control" placeholder="Display Name">
		</div>
		<div class="form-group col-sm-4">
			<div class="checkbox">
				<label>&nbsp;</label><br>
				<label>
			    	<input ng-model="vm.entity.activo" ng-change="vm.changed()" ng-click="" type="checkbox"> ¿Is active?
			  	</label>
			</div>		
		</div>
	</div>
	
	<div class="row">
		<div class="form-group col-sm-12">
			<label>Description:</label>
			<textarea ng-model="vm.entity.description" ng-change="vm.changed()" ng-keypress="" class="form-control" placeholder="Description"></textarea>
		</div>
	</div>
	
	<div ng-include="'/src/wi-user/role/edit/form/tpl/roleAcl.tpl.html'"></div>
	
</form>