/ar_JO.mo
/ar_JO.po
/ar_SY.mo
/ar_SY.po
/cs_CZ.mo
/cs_CZ.po
/de_DE.mo
/de_DE.po
/fr_CA.mo
/fr_CA.po
/fr_FR.mo
/fr_FR.po
/it_IT.mo
/it_IT.po
/ja_JP.mo
/ja_JP.po
/nb_NO.mo
/nb_NO.po
/nl_NL.mo
/nl_NL.po
/pl_PL.mo
/pl_PL.po
/pt_BR.mo
/pt_BR.po
/ru_RU.mo
/ru_RU.po
/sl_SI.mo
/sl_SI.po
/tr_TR.mo
/tr_TR.po
/uk_UA.mo
/uk_UA.po
/zh_CN.mo
/zh_CN.po
/zh_TW.mo
/zh_TW.po
