<form name="loginform" class="form-signin" ng-controller="WiLoginCtr as vm">
	<h2 class="form-signin-heading">Please sign in</h2>
	<label for="inputEmail" class="sr-only">Username</label>
	<input ng-model="vm.user.username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
	<label for="inputPassword" class="sr-only">Password</label>
	<input ng-model="vm.user.password" name="password" type="password" class="form-control" placeholder="Password" required>
	<button ng-click="vm.login()" ng-disabled="loginform.username.$error.required || loginform.password.$error.required || vm.signing" type="submit" class="btn btn-lg btn-primary btn-block"><span ng-show="!vm.signing">Sign in</span><span ng-show="vm.signing"><i class="fa fa-spinner fa-pulse"></i> Signing in...</span></button>
	<div ng-show="vm.error" class="alert alert-danger" role="alert">{{vm.errorMsg}}.</div>
</form>