<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
    	<div class="navbar-header">
      		<button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       			<span class="sr-only">Toggle navigation</span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="#"><img class="wi-logo" src="/assets/img/logo-texto.png"></a>
    	</div>
    	<div id="navbar" uib-collapse="navCollapsed" class="navbar-collapse collapse">
      		<ul class="nav navbar-nav navbar-left">
      			<li><a ui-sref="main.dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>
        		<li><a href="#"><i class="fa fa-user"></i> Contacts</a></li>
        		<li><a href="#"><i class="fa fa-bullseye"></i> Conversions</a></li>
        		
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
          		<li uib-dropdown>
            		<a href="#" uib-dropdown-toggle><i class="fa fa-user"></i> User <b class="caret"></b></a>
            		<ul class="uib-dropdown-menu">
	              		<li><a href="#"><i class="fa fa-gear"></i> Config</a></li>
		              	<li><a href="#" ng-click="vm.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
            		</ul>
          		</li>
      		</ul>
    	</div>
  	</div>
</nav>