<div class="row">
	<div class="form-group col-sm-6">
		<label>PH:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.ph" placeholder="PH">
	</div>
	<div class="form-group col-sm-6">
		<label>PMN:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.pmn" placeholder="PMN">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Trichomonas:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.trichomonas" placeholder="Trichomonas">
	</div>
	<div class="form-group col-sm-6">
		<label>Bacilos Gram (+):</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.bacilosGramMas" placeholder="Bacilos Gram (+)">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Levaduras:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.levaduras" placeholder="Levaduras">
	</div>
	<div class="form-group col-sm-6">
		<label>Bacilos Gram (-):</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.bacilosGramMenos" placeholder="Bacilos Gram (-)">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Cel. Guía:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.celGuia" placeholder="Cel. Guía">
	</div>
	<div class="form-group col-sm-6">
		<label>Cocos Gram (+):</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.cocosGramMas" placeholder="Cocos Gram (+)">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Leucocitos:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.leucocitos" placeholder="Leucocitos">
	</div>
	<div class="form-group col-sm-6">
		<label>CBGV:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.cbgv" placeholder="CBGV">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Otros:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.otros" placeholder="Otros">
	</div>
	<div class="form-group col-sm-6">
		
	</div>
</div>