<div class="row">
	<div class="form-group col-sm-6">
		<label>Serología (VDRL):</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.serologia" placeholder="Serología (VDRL)">
	</div>
	<div class="form-group col-sm-6">
		<label>Gravindex:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.gravindex" placeholder="Gravindex">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>PCR <small>( < 6 mg/l )</small> :</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.pcr" placeholder="PCR">
	</div>
	<div class="form-group col-sm-6">
		<label>RAtes <small>( < 6 Ul/ml )</small> :</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.rAtes" placeholder="RAtes">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Toxo IgG <small>( < 10 Ul/ml )</small> :</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.toxoIgG" placeholder="Toxo IgG">
	</div>
	<div class="form-group col-sm-6">
		<label>ASTOS <small>( < 200 Ul/ml )</small> :</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.astos" placeholder="ASTOS">
	</div>
</div>