<div class="row">
	<div class="form-group col-sm-6">
		<label>Color:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.color" placeholder="Color">
	</div>
	<div class="form-group col-sm-6">
		<label>Cel.E Bajas:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.celebajas" placeholder="Cel.E Bajas">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Aspecto:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.aspecto" placeholder="Aspecto">
	</div>
	<div class="form-group col-sm-6">
		<label>Cel.E Altas:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.celealtas" placeholder="Cel.E Altas">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Densidad:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.densidad" placeholder="Densidad">
	</div>
	<div class="form-group col-sm-6">
		<label>Leucocitos:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.leucocitos" placeholder="Leucocitos">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>PH:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.ph" placeholder="PH">
	</div>
	<div class="form-group col-sm-6">
		<label>Hematies:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.hematies" placeholder="Hematies">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Proteínas:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.proteinas" placeholder="Proteínas">
	</div>
	<div class="form-group col-sm-6">
		<label>Bacterias:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.bacterias" placeholder="Bacterias">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Glucosa:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.glucosa" placeholder="Glucosa">
	</div>
	<div class="form-group col-sm-6">
		<label>Cilindros:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.cilindros" placeholder="Cilindros">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>C. Cetónicos:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.ccetonicos" placeholder="C. Cetónicos">
	</div>
	<div class="form-group col-sm-6">
		<label>Cristales:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.cristales" placeholder="Cristales">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Hemoglobina:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.hemoglobina" placeholder="Hemoglobina">
	</div>
	<div class="form-group col-sm-6">
		<label>Levaduras:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.levaduras" placeholder="Levaduras">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Bilirrubinas:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.bilirrubinas" placeholder="Bilirrubinas">
	</div>
	<div class="form-group col-sm-6">
		<label>Moco:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.moco" placeholder="Moco">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Urobilinogeno:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.urobilinogeno" placeholder="Urobilinogeno">
	</div>
	<div class="form-group col-sm-6">
		<label>Otros:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.otros" placeholder="Otros">
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-6">
		<label>Nitritos:</label>
		<input type="text" class="form-control" ng-change="vm.changed()" ng-keypress="vm.isEditable($event)" ng-model="vm.entity.examen.nitritos" placeholder="Nitritos">
	</div>
</div>